// Google Fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en");

// Variables, Mixins
@import "base/variables";
@import "base/mixins";

// INSPINIA Theme Elements
@import "base/typography";
@import "base/glyphicons";
@import "base/navigation";
@import "base/top_navigation";
@import "base/buttons";
@import "base/badges_labels";
@import "base/elements";
@import "base/sidebar";
@import "base/base";
@import "base/pages";
@import "base/chat";
@import "base/metismenu";
@import "base/spinners";

// Landing page
@import "base/landing";

// RTL Support
@import "base/rtl";

// For demo only - config box style
@import "base/theme-config";

// INSPINIA Skins
@import "base/skins";
@import "base/md-skin";

// Media query style
@import "base/media";

// Custom style
// Your custom style to override base style
@import "base/custom";

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }

  body { overflow: visible !important; }

  #page-wrapper {
    margin: 0;
  }
}
.v-application {
  background:none !important;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.v-application ol, .v-application ul {
  padding-left:0 !important;
}
.close-bottom-sheet {
  z-index: 999 !important;
}
.blueimp-gallery {
  .prev, .next { color:#fff !important; }
}

@import url('https://fonts.googleapis.com/css?family=Special+Elite');
blockquote {
	font-weight: 100;
  font-size: 1rem;
  line-height: 1.4;
  position: relative;
  margin: 1rem;
  padding: 0.5rem;
  width: auto;
  display: inline-block;
}

blockquote:before,
blockquote:after {
  position: absolute;
  color: #afafaf;
  font-size: 2rem;
  width: 4rem;
  height: 4rem;
  font-family: 'Special Elite', cursive;
}

blockquote:before {
	content: '“';
	left: -0.5rem;
	top: -0.1rem;
}

blockquote:after {
	content: '”';
	right: -4rem;
	bottom: -1.5rem;
}

cite {
	line-height: 3;
	text-align: left;
}
// .v-overlay--active, .v-dialog__content--active {
//   z-index: 2002 !important;
// }