.share a {
    background: #fb6629;
    color: #fff;
    /* border-radius: 72%; */
    font-size: 1em;
    width: 100;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.share a i {
	margin-top:3px;
}
.article-title h1 {
	font-family: louis_george_cafebold, sans-serif;
}

.article-title h4, .article-title h6{
	margin-top:12px;
}

.newsletter {
	background-image: url(https://i.imgur.com/FB4KXfB.jpg);
	width: 100%;
	min-height: 250px;
	background-size:cover;
}

.newsletter h1 {
	color:#fff !important;
}

.newsletter i {
	color: #f27a28;
}

.btn-amic { 
  color: #FFFFFF; 
  background-color: #695D61; 
  border-color: #695d61; 
} 
 
.btn-amic:hover, 
.btn-amic:focus, 
.btn-amic:active, 
.btn-amic.active, 
.open .dropdown-toggle.btn-amic { 
  color: #FFFFFF; 
  background-color: #695D61; 
  border-color: #695d61; 
} 
 
.btn-amic:active, 
.btn-amic.active, 
.open .dropdown-toggle.btn-amic { 
  background-image: none; 
} 
 
.btn-amic.disabled, 
.btn-amic[disabled], 
fieldset[disabled] .btn-amic, 
.btn-amic.disabled:hover, 
.btn-amic[disabled]:hover, 
fieldset[disabled] .btn-amic:hover, 
.btn-amic.disabled:focus, 
.btn-amic[disabled]:focus, 
fieldset[disabled] .btn-amic:focus, 
.btn-amic.disabled:active, 
.btn-amic[disabled]:active, 
fieldset[disabled] .btn-amic:active, 
.btn-amic.disabled.active, 
.btn-amic[disabled].active, 
fieldset[disabled] .btn-amic.active { 
  background-color: #695D61; 
  border-color: #695d61; 
} 
 
.btn-amic .badge { 
  color: #695D61; 
  background-color: #FFFFFF; 
}

/* Serviços  */
.service-carousel button.owl-prev, .service-carousel button.owl-next {
    background: #f87d29 !important;
    height: 50px;
    width: 50px;
    color: white !important;
    border-radius: 50% !important;
}

.service-carousel .owl-nav .owl-next, .owl-nav .owl-prev {
    position: absolute;
    top: 48%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
.service-carousel button.owl-next {
    right: 0;
    display: flex;
    margin-right: -7% !important;
    font-size: 25px !important;
}
.service-carousel button.owl-prev{
    left: 0;
    display: flex;
    margin-left: -7%!important;
    font-size: 25px !important;
}

.service-carousel button.owl-prev span, .service-carousel button.owl-next span {
    font-size: 50px !important;
}

.service-more {
    position: absolute;
    min-width: 155px;
    min-height: 33px;
    top: 75%;
    left: 20%;
    background: #f87d29;
    text-align: center;
    color: #fff;
    padding-top: 5px;
}

.article-content {
  font-size: 1.5em;
  line-height: 1.5;
}

#news-related {
  padding: 20px;
  background-color: #eef2f6;
}

#news-related span{ 
    color: orange;     
}

#ads-interna *{
  text-align: center;
  display: block;
  margin: 0 auto;
}

/*Modelo 2*/

.bg-model-2 {
  background-color: #000;
  width: 100%;
  min-height: 250px;
  padding: 50px 0px 50px 0px;
  margin-bottom: 50px;
}

.bg-model-2 .article-title h1, .bg-model-2 .article-title h4, .bg-model-2 .article-title h6 {
  color: #fff !important;
}

/*Fim modelo 2*/

/*Modelo 3*/

.bg-model-3 {
  background-color: #000;
  width: 100%;
  min-height: 400px;
  margin-bottom: 50px;
}

.bg-model-3 hgroup {
  padding: 50px 0px 50px 0px;
}

.bg-model-3 .article-title h1, .bg-model-3 .article-title h4, .bg-model-3 .article-title h6 {
  color: #fff !important;
  text-align: center;
}

.dk-model-3 {
  background-color: rgb(0 0 0 / 46%);
  width: 100%;
  min-height: 400px;
  padding: 50px 0px 50px 0px;
  margin-bottom: 50px;
}
/*Fim modelo 3*/

@media(min-width: 300px) and (max-width: 767px){
  .newsletter h1 {
    font-size: 32px;
  }
  .newsletter .center {
    text-align: center;
  }
  .newsletter form.offset-1.pt-4 {
    padding-top: 0 !important;
  }
  .newsletter .btn-amic {
    margin: 10px;
  }
  .newsletter .form-control {
    margin-top: 10px;
  }
  .newsletter {
    padding-bottom: 50px;
  }
}
@media(min-width: 767px) and (max-width:991px){
  .service-more {
      min-width: 100%;
      top: 50%;
      left: 0%;
      padding-left:-5px;

  }
}
